/* button variables */
$button-size: 44px !default;
$button-background: #fff !default;
$button-shadow-color: #09F !default;
$button-opacity: 0.6 !default;
$button-arrow-fill: #333 !default;

/* page-dots variables */
$page-dots-color: #333 !default;