/*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
	&:focus {
		outline: none;
	}
	/* draggable */
	&.is-draggable {
		user-select: none;
	}
	.flickity-viewport {
		cursor: move;
		cursor: grab;
		&.is-pointer-down {
			cursor: grabbing;
		}
	}
}

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	position: absolute;
	top: 50%;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: white;
	background: hsla(0, 0%, 100%, 0.75);
	cursor: pointer;
	/* vertically center */
	transform: translateY(-50%);
	&:hover {
		background: white;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 5px #09F;
	}
	&:active {
		opacity: 0.6;
	}
	&.previous {
		left: 10px;
		.flickity-rtl & {
				left: auto;
				right: 10px;
		}
	}
	&.next {
		right: 10px;
		.flickity-rtl & {
			right: auto;
			left: 10px;
		}
	}
	&:disabled {
		opacity: 0.3;
		cursor: auto;
	}
	svg {
		position: absolute;
		left: 20%;
		top: 20%;
		width: 60%;
		height: 60%;
	}
	.arrow {
		fill: #333;
	}
	/* color & size if no SVG - IE8 and Android 2.3 */
	&.no-svg {
		color: #333;
		font-size: 26px;
	}
}

/* ---- page dots ---- */

.flickity-page-dots {
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
	.flickity-rtl & {
		direction: rtl;
	}
	.dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 8px;
		background: #333;
		border-radius: 50%;
		opacity: 0.25;
		cursor: pointer;
		&.is-selected {
			opacity: 1;
		}
	}
}